
  <h1>Add Miles</h1>
  <hr />
  <div class="col-md-4">
  <form #mileForm="ngForm" (ngSubmit)="createNewMile(mileForm.value)" autocomplete="off">
    <div class="form-group" >
      <div class="container-fluid">
        <label for="miles">Miles:</label>
        <input (ngModel)="miles" name="miles" required id="miles" 
                type="text" class="form-control" placeholder="Miles Driven..." />
      </div>
    </div>

    <div class="form-group" >
      <div class="container-fluid">
        <label for="date">Date:</label>
        <input (ngModel)="date" name="date" required id="date" 
                type="text" class="form-control" placeholder="yyyy-mm-dd" />
      </div>
    </div>

    <div class="form-group" >
      <div class="container-fluid">
        <label for="note">Note:</label>
        <input (ngModel)="note" name="note" required id="note" 
                type="text" class="form-control" placeholder="Note..." />
      </div>
    </div>

    <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
      <button type="submit" [disabled]="mileForm.invalid"class="btn btn-primary">Create</button>
    </span>
    <button type="button" (click)="back()" class="btn btn-default">Cancel</button>
  </form>
</div>
