<date [month]="mile.date | date : 'EEEE MMMM d'"></date>
<div class="well hoverwell thumbnail shadow">
    <div>
        <span>Miles Traveled: <span [ngClass]='getMileSeverityClass()'>{{mile.miles}}</span></span>
        
        <span class="glyphicon glyphicon-edit"
        [routerLink]="['/miles/details', mile.id]" routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact:true}"></span>

        <span *ngIf='mile.reimbursed' class="high glyphicon glyphicon-ok"></span>
    </div>
    <div>Date: {{mile.date | date : "MMMM d, yyyy"}} </div>
    <div>Note: {{mile.note}}</div>

    <div>Reimbursable Miles</div>
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" 
            aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;"
            [ngStyle]="{'width' : getReimbursableMilePercentage() + '%'}">
            <p>{{getAmountReimbursed() | currency: 'USD': true: '.2-2'}}</p>
        </div>
    </div>

</div>