
  <h1>Settings</h1>
  <hr />
  <div class="col-md-4">
  <form #settingsForm="ngForm" (ngSubmit)="saveSettings(settingsForm.value)" autocomplete="off">
    <div class="form-group" >
      <div class="container-fluid">
        <label for="milesToOffice">Distance from Home to Office:</label>
        <input (ngModel)="milesToOffice" name="milesToOffice" required id="milesToOffice" 
                type="text" class="form-control" placeholder={{settings?.milesToOffice}} />
      </div>
    </div>

    <div class="form-group" >
      <div class="container-fluid">
        <label for="moneyPerMile">Amount Reimbursed per mile</label>
        
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input (ngModel)="moneyPerMile" name="moneyPerMile" required id="moneyPerMile" 
            type="text" class="form-control" 
            aria-label="Amount (to the nearest dollar)" placeholder={{settings?.moneyPerMile}}>
          </div>
      </div>
    </div>

    <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
      <button type="submit" class="btn btn-primary">Update</button>
    </span>
    <button type="button" (click)="back()" class="btn btn-default">Cancel</button>
  </form>
</div>
